.pai {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    height: 9%;
    width: 100%;
    background-color: black;
}

.filho {
    font-size: 150%;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
}

.body-black{
    color: white;
    font-size: 150%;
}

.body{
    color: black;
    font-size: 150%;
}

h1{
    color: white;
    font-size: 300%;
}

h2{
    font-size: 225%;
}

.title-black{
    color: white;
}

.title{
    color: black;
}

h3{
    font-size: 168%;
    padding: 0.3rem 0rem 0.2rem;
    margin: 0.3rem 0rem 0.2rem;
}

.black-first{
    background-color: black;
    display: grid;
    grid-template-columns: 15% auto 15%;
}

figure{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 75%;
    padding: 2.5rem 0rem;
    margin: 2.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photo{
    height: 90%;
    width: 35%;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    margin: 0.5rem 3rem 0.5rem 0.5rem;
}

.name{
    width: 40%;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    margin: 0.5rem 0.5rem 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complete{
    background-color: rgb(38, 37, 37);
    grid-column-start: 2;
    grid-column-end: 3;
    height: 25%;
    padding: 5rem 0rem;
    margin: 5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informations{
    width: 45%;
    font-style: italic;
}

.about{
    width: 35%;
}

.blue-first{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.title-a{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5rem 0rem;
    margin: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    border-radius: 50%;
    height: 55%;
    width: 15%;
    padding: 0.8rem 0rem 0.1rem 0rem;
    margin: 0.8rem 0rem 0.1rem 0rem;
}

.graduation{
    padding: 0rem 0rem 0.3rem 0rem;
    margin: 0rem 0rem 0.3rem 0rem;
}

.black-second{
    background-color: black;
    display: grid;
    grid-template-columns: 30% auto;
}

.title-b{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;  
    padding: 5rem 0rem 5rem 1rem;
    margin: 5rem 0rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project{
    background-color: rgb(38, 37, 37);
    padding: 1ren 0.7rem;
    margin: 1rem 0.7rem;
    height: 85%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.blue-second{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 30% auto;
}

.black-third{
    background-color: black;
    display: grid;
    grid-template-columns: 30% auto 30%;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 5%;
}

.link1{
    margin: 1.1rem 0.2rem 0.4rem 0rem;
}

.icon{
    border-radius: 25%;
    height: 35%;
    width: 80%;
}

footer{
    background-color: rgb(38, 37, 37);
    color: black;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img{
    border-radius: 50%;
    width: 3%;
    margin: 1rem 0.2rem 1rem 0.5rem;
    padding: 1rem 0.2rem 1rem 0.5rem;
}

footer p{
    font-size: 125%;
}